@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Ms+Madi&display=swap');

.active {
  border-bottom: 4px solid white;
}

.navbar-title {
  padding-left: 10px;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  text-decoration: solid;
}
