body {
    background-color: #d2f8de !important;
}

.navbar-main{
    background-color: #04060F !important;
    color: #e3f0e0 !important;
}

.navbar-text{
    color: #e3f0e0 !important;
    display: flex !important;
    justify-content: center !important;
    &:hover{
        background-color: #dcecd7 !important;
        color: #04060F !important;
    }
}

.activeclass{
    border: 1px solid #e6f0e0 !important;
}

.navbar-title{
    color: #e3f0e0 !important;
}

.nav-toggle{
    background-color: white !important;

}
